# Ignore everything in bin folder by default
bin/addons/godot-rapier2d/bin/*

# Binaries
*.os
*.dblite

# Binaries
*.os
*.dblite
*.pdb


# System/tool-specific ignores
.directory
.DS_Store
.vscode
*~
