# Ignore everything in bin folder by default
bin2d/addons/godot-rapier2d/bin/*
bin2d/.godot/**
bin2d/samples/godot-rapier2d/addons/**
bin3d/addons/godot-rapier3d/bin/*
bin3d/.godot/**
bin3d/samples/godot-rapier3d/addons/**
target

!bin2d/addons/godot-rapier2d/bin/libgodot_rapier.macos.framework/Resources/Info.plist
!bin2d/addons/godot-rapier2d/bin/libgodot_rapier.ios.framework/Info.plist

!bin3d/addons/godot-rapier3d/bin/libgodot_rapier.macos.framework/Resources/Info.plist
!bin3d/addons/godot-rapier3d/bin/libgodot_rapier.ios.framework/Info.plist

# Binaries
*.os
*.o
*.dblite

# Binaries
*.os
*.dblite
*.pdb


# System/tool-specific ignores
.directory
.DS_Store
.vscode
*~

*.code-workspace