[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.1
[submodule "Godot-Physics-Tests"]
	path = Godot-Physics-Tests
	url = https://github.com/fabriceci/Godot-Physics-Tests
