[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "projects/physics-test"]
	path = projects/physics-test
	url = https://github.com/fabriceci/Godot-Physics-Tests
