# Ignore everything in bin folder by default
bin/*

# Binaries
*.os
*.dblite

# Don't ignore gdextension files
!bin/*.gdextension

# Binaries
*.os
*.dblite
*.pdb

# System/tool-specific ignores
.directory
.DS_Store
.vscode
*~
