[target.wasm32-unknown-emscripten]
rustflags = [
  "-C", "link-args=-sSIDE_MODULE=2",
  "-C", "link-args=-pthread",
  "-C", "target-feature=+atomics,+bulk-memory,+mutable-globals",
  "-C", "link-args=-sEXPORT_ALL=1",
  "-C", "link-arg=-fwasm-exceptions",
  "-C", "link-args=-sSUPPORT_LONGJMP=wasm",
  "-C", "llvm-args=-enable-emscripten-cxx-exceptions=0",
  "-C", "llvm-args=-wasm-enable-sjlj",
  "-C", "link-args=-sDISABLE_EXCEPTION_CATCHING=1",
  "-Z", "link-native-libraries=no",
]

[target.armv7-linux-androideabi]
linker = "armv7a-linux-androideabi23-clang"
rustflags = ["-C", "link-arg=-Wl,-z,max-page-size=16384"]

[target.aarch64-linux-android]
linker = "aarch64-linux-android23-clang"
rustflags = ["-C", "link-arg=-Wl,-z,max-page-size=16384"]

[target.x86_64-linux-android]
linker = "x86_64-linux-android23-clang"
rustflags = ["-C", "link-arg=-Wl,-z,max-page-size=16384"]

[target.i686-linux-android]
linker = "i686-linux-android23-clang"
rustflags = ["-C", "link-arg=-Wl,-z,max-page-size=16384"]

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"

[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"